table{
  border-collapse: collapse;
  width:100%;
  position: absolute;
  margin-top: 100px;
}

td,th {
  border: 1px solid #aad8d3;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #393e46;
  color: white;
}

tr:nth-child(even){
  background-color: #aad8d3;
}

@media(max-width:700px){
  table{
    margin-top: 300px;
  }
}
